.Cartitems {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;
    justify-content: center; 
  }

  .CartItem {
    flex: 1 1 45%; 
    max-width: 45%; 
    text-align: center; 
  }

  .carth3 {
    font-size: 1.2rem; 
    margin-bottom: 1rem; 
    background-color: rgb(0, 0, 0);
    color: white;
    text-transform: uppercase;
  }
  
  .CartItem img {
    width: 100%; 
    max-width: 75%; 
    height: auto; 
    margin-bottom: 1rem;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .TotalPrice {
    width: 100%;
    text-align: center;
    margin-top: 2rem; 
  }

  .CartTotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    color: rgb(0, 0, 0);
  }

  .CartTotal h4 {
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
  }
  
  .CartItem button {
    display:block;
    margin: 0 10%;
    margin-bottom: 1rem;
    border: none; 
    border-radius: 2px; 
    border:none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer; 
    transition: all 0.3s;
  }

  .CartItem button:hover {
    background-color: rgb(255, 56, 56);
    transform: scale(1.1);
    color: white; 
  }
  
  .carttotal {
    display:flex;
    margin-bottom: 1rem;
    border: none; 
    border-radius: 2px; 
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer; 
    transition: all 0.3s;
  }

  .carttotal:hover {
    background-color: rgb(255, 56, 56);
    transform: scale(1.1);
    color: white; 
  }
  
  .checkout button{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    width: 15rem;
    color: rgb(0, 0, 0);
    background-color: rgb(84, 92, 255);
    transition: all 0.3s;
    
  }

  .checkout:hover {
    background-color: rgb(13, 214, 50); 
    color: white;
    transform: scale(1.1);
  }
  
  .Loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .spinner {
    margin-top: 2rem;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border-left-color: #000; /* Svart färg på spinner */
    
    animation: spin 1s linear infinite; /* Animation som snurrar oändligt */
  }

  @media screen and (max-width: 768px) {
    .CartItem {
      flex: 1 1 100%; 
      max-width: 100%;
      margin-right: 5%;
    }
  }
  