.womens {
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

.header {
    display: flex;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.products {
    padding-top: 1.5rem;
    font-family: 'poppins';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 1rem; 
    margin: 0 5%; 
  }
  
  .productsUL {
    flex: 1 0 22%; 
    list-style-type: none;
    padding: 0; 
    border-radius: 5px; 
    overflow: hidden; 
    
  }

  .productsUL li {
    text-align: center; 
    margin: 1rem 0; 
  }
  
  .productsUL img {
    width: 100%; 
    height: auto; 
    transition: transform ease 0.5s; 
  }

  .productsUL img:hover {
    transform: scale(1.03);
  }

  .products h3 {
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    background-color: rgb(127, 115, 104);
    padding: 0.8rem;
    color: white;
  }

  .Formsearch {
    display: flex;
    justify-content: center; /* Centrerar formelementen horisontellt */
    align-items: center; /* Ser till att elementen i formen är vertikalt utjämnade */
    margin-bottom: 1rem; /* Ger lite utrymme under sökformen */
  }

  .Formsearch input {
    padding: 0.6rem; /* Ger lite utrymme runt texten i sökfältet */
    border: 1px solid #989898; /* Ger en svart kant runt sökfältet */
    border-radius: 3px; /* Rundar av hörnen på sökfältet */
  }
  
  .searchbars {
    margin-right: 1rem; /* Ger lite utrymme mellan sökfältet och knappen */
    width: 50%; 
  }

  .searchbars::placeholder {
    color: #8a8a8a;
  }
  
  .buttonsearch {
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(120, 120, 120); 
    padding: 0.5rem 1.2rem; 
    border: none;
    border-radius: 2px;
    cursor: pointer; 
  }

  .buttonsearch:hover {
    background-color: #3eac2f;
    color: #ffffff;
  }

  .Price {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #000000;
  }

  .heart {
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease; /* Ger en mjuk övergångseffekt */
  }
  
  .heart:hover {
    transform: scale(1.5); /* Ökar storleken på ikonen med 20% */
  }

  .hearticon {
    color: rgb(255, 24, 170); /* Röd färg på hjärtikonen */
  }


  @media screen and (max-width: 768px) {
    .productsUL {
      flex: 1 0 45%; 
    }

    .products h3 {
      font-size: 0.8rem;
    }

    .header {
      font-size: 3rem;
    }
  }
  