.Navbarsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navlink {
  position: relative; 
  display: inline-block;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0 1.5rem;
  font-family: 'poppins';
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.navlink:hover {
  color:  rgb(110, 107, 102); 
}

.navlink::after {
  content: ''; 
  position: absolute; 
  left: 0;
  right: 100%;
  bottom: 0; 
  background: rgb(110, 107, 102); 
  height: 2px; 
  transition: right 0.5s ease-in-out; 
}

.navlink:hover::after {
  right: 0; 
}

.navlogin {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0 1.5rem;
  font-family: 'poppins';
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.icon-space {
  margin-top: 3px;
  margin-left: 5px; /* Justera värdet efter önskat mellanrum */
}

@media screen and (max-width: 768px) {
  .Navbarsection {
    width: 100%;
  }

  .navlogin {
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 0 100%;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0 auto;
  }
}

