.Footer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  background-color: #635d55;
  color: #ecf0f1;
  font-family: 'Poppins';
  position: relative;
  padding: 1rem 10%;
  box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.2); 
}

.Footer p {
  margin-top: 1rem;
  font-size: 0.7rem;
  font-weight: 300; /* Gör texten lättare */
  letter-spacing: 0.05em; /* Lägger till bredd mellan bokstäver */
}

.Footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease; /* Mjuk övergång för färgändring */
}

.Footer a:hover {
  color: #9c9a90; /* Gyllene färg på hover */
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Footer {
    padding: 1rem 5%;
    display: flex;
    flex-direction: column;
  }

  .Footer p {
    margin: 0.3rem;
    font-size: 0.6rem;
  }
}
  
